# =====================================
# Python + ML + VSCode project ignore
# =====================================

# Virtual environment
.venv/
venv/
ENV/
env/

# Datasets
data/raw/
data/processed/
*.wav
*.webm
*.csv

# Checkpoints and models
models/
*.onnx
*.pt
*.pth

# Notebooks and cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints

# Logs and temp
logs/
*.log
tmp/
*.tmp

# VSCode
.vscode/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db
